
.main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
    width: 90%;
    margin: 40px auto 40px auto;
    align-items: stretch;
    height: 80vh;
    min-height: 600px;
}

.grid-item {
    background: #f2f9ff;
    border-radius: 10px;
    box-shadow: 0 5px 15px #77bdff57;
    margin: 24px 18px;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.2s ease-in-out, box-shadow 0.7s ease-in-out;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px #77bdff;
}

.profile-item {
    text-align: center;
    justify-content: center;
}
.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    list-style: none;
    justify-items: center;
    margin: 16px 0 0 0;
    padding: 0;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin: 16px 0;
    justify-items: stretch;
    align-items: center;
}
.saying-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    list-style: none;
    margin: 16px 0 0 0;
    padding: 0;
    justify-items: center;
}

@media (max-width: 800px) {
    .main-grid {
        grid-template-columns: 1fr;
        grid-template-rows: none;
    }
    .projects-list {
        grid-template-columns: repeat(4, 1fr);
    }
    .skills-list {
        grid-template-columns: repeat(4, 1fr);
    }
    .profile-item,
    .skills-section,
    .projects-section,
    .saying-section {
        grid-column: auto;
        grid-row: auto;
    }
    .skills-list {
        grid-template-columns: 1fr;
    }
    .projects-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .saying-list {
        grid-template-columns: 1fr;
    }
}
.grid-4 {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    justify-items: center;
    align-items: stretch;
}
@media (max-width: 1080px) {
    .projects-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .grid-4 {
        grid-template-columns: 1fr;
    }
    .projects-list {
        grid-template-columns: 1fr;
    }
}

.card img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}

.profile-section {
    text-align: center;
}
.profile-section h1,
.skills-section h2,
.projects-section h2,
.saying-section h2 {
    text-align: start;
    margin-top: 0;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
}

.profile-name {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 2em;
    font-weight: 600;
    color: #151617;
}
.profile-desc {
    font-size: 1.2em;
    color: #3a77b4;
    margin-top: 8px;
    font-weight: 400;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    justify-content: center;
    margin: 16px 0 24px 0;
    padding: 0;
}

.skills-list li {
    background: #e3f1ff;
    border-radius: 20px;
    padding: 6px 18px;
    color: #26629e;
    text-emphasis-color: #26629e;
    text-decoration-color: #26629e;
    font-weight: 500;
    font-size: 1em;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out, background 0.2s ease-in-out;
}

.skills-list li:hover{
    transform: scale(1.1);
    color: #ddedff;
    background: #0d6dce;
}

.skills-list li a {
    color: #26629e;
}

.skills-list li a:hover {
    color: #ddedff;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px #77bdff57;
    padding: 18px 24px;
    width: auto;
    min-width: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    transition: transform 0.2s ease-in-out, box-shadow 0.7s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px #77bdff;
}

.card h3 {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #26629e;
}
.card p {
    font-size: 1em;
    margin-bottom: 8px;
    color: #151617;
}
.card a {
    color: #3a77b4;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
}
.card a:hover {
    text-decoration: underline;
}

.saying-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    list-style: none;
    margin: 16px 0;
    padding: 0;
}
.tags {
    display: flex;
    gap: 12px;
    list-style: none;
    justify-content: center;
    margin: 16px 0 24px 0;
    padding: 0;
    background: #e3f1ff;
    border-radius: 20px;
    padding: 6px 18px;
    color: #26629e;
    font-weight: 500;
    font-size: 1em;
}